---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'

import { CommandDemo } from '@/components/Command'
import { FormLink } from '@/components/FormLink'
import { TableDemo } from '@/components/Table'

export const prerender = false

// import { actions } from 'astro:actions';

// const { data, error } = await actions.getData();

// const data = await fetch('http://34.143.206.52/links', {
//   headers: {
//     Authorization: `Bearer zenzeIsMoe`,
//   },
// }).then((res) => res.json())

import { actions } from 'astro:actions'

const { data, error } = await Astro.callAction(actions.readData)
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main>
      <h1>🔗 LIST LINKS</h1>

      <CommandDemo client:only />

      <TableDemo client:only data={data} />

      <FormLink client:only />
    </main>
    <Footer />
  </body>
</html>
